<meta charset="UTF-8">
<title>BeFit</title>

<!-- CSS (load bootstrap from a CDN) -->
<!-- Latest compiled and minified CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>-->
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>

<script src="https://cdn.tailwindcss.com"></script>

<link rel="apple-touch-icon" sizes="180x180" href="../../../../imgs/Favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../../../imgs/Favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../../../imgs/Favicons/favicon-16x16.png">
<link rel="manifest" href="../../../../imgs/Favicons/site.webmanifest">
<meta name="msapplication-config" content="../../../../imgs/Favicons/browserconfig.xml" />
<meta name="msapplication-TileColor" content="#7209b7">
<meta name="theme-color" content="#7209b7">
